<%= form_for(@timetable) do |f| %>
  <% if @timetable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timetable.errors.count, "error") %> prohibited this timetable from being saved:</h2>

      <ul>
      <% @timetable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_day_weekly %><br>
    <%= f.check_box :start_day_weekly %>
  </div>
  <div class="field">
    <%= f.label :slot_unit_size %><br>
    <%= f.number_field :slot_unit_size %>
  </div>
  <div class="field">
    <%= f.label :day_start_time %><br>
    <%= f.time_select :day_start_time %>
  </div>
  <div class="field">
    <%= f.label :day_end_time %><br>
    <%= f.time_select :day_end_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
