<div id="detail" class="container">
<h1><%= @timetable.name %></h1>

<table class="table table-bordered">
<tr>
<th></th>
<% if @timetable.start_day_weekly %>
	<% (0..6).each do |i| %>
		<th><%= Date::DAYNAMES[(i+1)%7] %></th>
	<% end %>
<% else %>
	<% (0..6).each do |i| %>
		<th><%= Date::DAYNAMES[i] %></th>
	<% end %>
<% end %>
</tr>
<% $currT = @timetable.day_start_time 
   $unit = (@timetable.slot_unit_size*60)%>
<% until ($currT + $unit) > @timetable.day_end_time %>
  <tr><td><%= $currT.to_s(:time) + ' ~ '%>
          <%= ($currT + $unit).to_s(:time) %>
          </td>
  <% (0..6).each do |i| %>
    <td></td>
  <% end %>
  </tr>
<% $currT += $unit %>
<% end %>
</table>
<%= link_to 'Back', timetables_path %>
</div>
